@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model IEnumerable<Products>

@{
    ViewData["Title"] = "Products";
    Products products;
}
<h1>Index : @ViewData["Action"]</h1>

@if(Convert.ToString(ViewData["Action"]) == "Edit")
{
 <div> 
     @{  products = Model.FirstOrDefault( p => p.Id == (int)ViewData["Id"]);
      }
        <form method="post" asp-action="EditProduct">
            <table class=" table">
                <tr>
                    <td>
                    <label name="Id">Id</label>
                        <input name="Id"  type="text" id="Id" value="@products.Id">
                    </td>
                </tr>
                <tr>
                    <td>
                    <label name="Title">Title</label>
                        <input name="Title" type="text" id="Title" value="@products.Title">
                    </td>
                </tr>
                <tr>
                    <td>
                    <label name="ReleaseDate">ReleaseDate</label>
                        <input name="ReleaseDate" type="date" id="ReleaseDate" value="@products.ReleaseDate">
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>
                    <label name="genre">genre</label>
                        <input name="genre" type="text" id="genre" value="@products.genre">
                    </td>
                </tr>
                <tr>
                    <td>
                    <label name="Price">Price</label>
                        <input name="Price" type="text" id="Price" value="@products.Price">
                    </td>
                </tr>
                <tr>
                    <td>
                    <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        </div>
    <a asp-action="">back</a>
}
else if (Convert.ToString(ViewData["Action"]) == "Create")
{
    <a asp-contdoller="Products" asp-action="CreateProduct"> Create Product </a>
    <br />
    <table class="table">
    <tr>
            <th> @Html.DisplayNameFor(model=>model.Id)</th>
            <th> @Html.DisplayNameFor(model=>model.Title)</th>
            <th> @Html.DisplayNameFor(model=>model.ReleaseDate)</th>
            <th> @Html.DisplayNameFor(model=>model.genre)</th>
            <th> @Html.DisplayNameFor(model=>model.Price)</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td> @Html.DisplayFor(model=>product.Id)</td>
            <td> @Html.DisplayFor(model=>product.Title)</td>
            <td> @product.ReleaseDate</td>
            <td> @product.genre</td>
            <td> @product.Price</td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@product.Id"> Edit </a>
                <a asp-action="getDetails" asp-route-id="@product.Id"> Details </a>
                @*<a asp-action="EditProduct" asp-route-id="@product.Id"> Edit </a>*@

            </td>
        </tr>
    }
    </table>
}
else if(Convert.ToString(ViewData["Action"])=="Details")
{
    @ViewData["Id"]    
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model=>model.Title) </th>
            <th>@Html.DisplayNameFor(model=>model.ReleaseDate) </th>
            <th>@Html.DisplayNameFor(model=>model.genre) </th>
            <th>@Html.DisplayNameFor(model=>model.Price) </th>
        </tr>
       
        <tbody>

                @if (int.TryParse(Convert.ToString(ViewData["Id"]), out int id))
                {
                var product = @Model.FirstOrDefault(p => p.Id == id);

                <tr>
                    <td>@product.Id</td>
                    <td>@product.Title</td>
                    <td>@product.ReleaseDate</td>
                    <td>@product.genre</td>
                    <td>@product.Price</td>
                    <td><a asp-action="EditProduct" asp-route-id=">@product.Id">Edit</a></td>
                </tr>
                }
          
        </tbody>
        
        
    </table>
    <a asp-action=""> back</a>
}
else if (Convert.ToString(TempData["Action"]) == "Delete" )
{
    <p> The product with Id : @ViewData["Id"] deleted successfully</p>
    <a asp-action="">back</a>
}
else 
{
    <p> @ViewData["Message"]</p>
    <a asp-action="CreateProduct">Create Product</a>

    <table class="table">
        <theader>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model=>model.Title)</th>
            <th>@Html.DisplayNameFor(model=>model.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model=>model.genre)</th>
            <th>@Html.DisplayNameFor(model=>model.Price)</th>
        </tr>
        </theader>
        <tbody>
            @foreach(var Product in Model){
                <tr>
                    <td>
                        <input type="checkbox" name="check">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Product.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Product.Title)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem=>Product.ReleaseDate)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem=>Product.genre)
                    <td>
                            @Html.DisplayFor(modelItem=>Product.Price)
                    </td>
                    <td>
                        <a asp-controller="Products" asp-action="getDetails" asp-route-id="@Product.Id"> Details</a>
                        <a asp-controller="Products" asp-action="EditProduct" asp-route-id="@Product.Id"> Edit</a>
                        <a asp-controller="Products" asp-action="DeleteProduct" asp-route-id="@Product.Id"> Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    
}
