@model Products

@{
    ViewData["Title"] = "Name";
}


<a asp-controller="Products" asp-action="CreateProduct"> Create Product </a>

    <div>
    <p>@Model.Id</p>
    <p>@Model.Title</p>
    <p>@Model.ReleaseDate</p>
    <p>@Model.genre</p>
    <p>@Model.Price</p>
    </div>

<a asp-controller="Home" asp-action="">Back</a>






